.bg-blur {
  background-color: rgba(32, 33, 36, 0.65);
  backdrop-filter: blur(8px);
}

.jumbotron {
  background-color: #09f;
}

.about {
  /* min-height: 460px; */
}

.font-just {
  text-align: justify;
}

.gov {
  color: #fff;
  text-decoration: none;
}

.gov:hover {
  color: #0dcaf0;
}
